<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677336048242-docf2s2settrsc0qpv6r5u5f4ef8tssn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677336048242-docf2s2settrsc0qpv6r5u5f4ef8tssn</string>
	<key>API_KEY</key>
	<string>AIzaSyCXqxvmr-r_ycUAtLCqrTztFZksfhLmCbo</string>
	<key>GCM_SENDER_ID</key>
	<string>677336048242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.briskitnv</string>
	<key>PROJECT_ID</key>
	<string>brisketnv</string>
	<key>STORAGE_BUCKET</key>
	<string>brisketnv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:677336048242:ios:631e7f6d38054e207098eb</string>
</dict>
</plist>
